[2017-03-13 22:22] danielbachhuber opened #1 "Tests fail because utils/make-phar.php isn't accessible"
See https://travis-ci.org/wp-cli/package-command/builds/209899744

[code]

Which option makes more sense?

1. Include `utils/make-phar.php` as a one-off in this repo.
2. Add `utils/make-phar.php` to `wp scaffold package-tests` so that the Phar creation step is available to every WP-CLI command.
3. Add `utils/make-phar.php` to the generated WP-CLI Phar file, so that it's available

I'm leaning towa

[2017-03-13 22:22] danielbachhuber commented on #1
@schlessera What's your opinion?

[2017-03-22 08:25] schlessera commented on #1
@danielbachhuber I don't completely like any of the three, but I think 3 is indeed the best option so far. Although it is used in the tests, it is logically part of the build toolchain.

A fourth option would be to have the build toolchain for WP-CLI be in a separate package that is required as a dev-dependency in WP-CLI as well as in external packages that need it. It doesn't need to be part of t

[2017-03-22 12:02] danielbachhuber commented on #1
Not so easy, as it turns out. Even if we include `utils/make-phar.php` in the Phar file, we can't call it directly.

But, we could install WP-CLI in Travis via Composer, and then everything will be available to us.

[2017-03-22 13:58] danielbachhuber commented on #1
Approaching this in a new way:

1. Installing WP-CLI for tests by adding `wp-cli/wp-cli` as a project dependency: https://github.com/wp-cli/scaffold-package-command/pull/89
2. Making use of the `utils/make-phar.php` included with the `wp-cli/wp-cli` dependency: https://github.com/wp-cli/package-command/pull/2

[2017-03-25 08:04] schlessera opened #3 "Tests in `wp-cli/wp-cli` fail because of Composer conflict"
Composer has a conflict between `wp-cli/wp-cli@dev-master` and `wp-cli/wp-cli@1.2.0-alpha` (See https://github.com/wp-cli/wp-cli/issues/3933)

This should be resolvable through a proper branch alias of `"dev-master": "1.x-dev"`.

[2017-04-11 16:16] #1 closed

[2017-04-11 16:16] #3 closed

[2017-04-24 12:46] danielbachhuber opened #7 "Tests fail when building Phar"
From #6

[code]

Notice the path is incorrect: `vendor/wp-cli/wp-cli/vendor/wp-cli/`

[2017-05-01 23:42] danielbachhuber commented on #7
Tests seem to be passing again, although I've added https://github.com/wp-cli/config-command/pull/8

[2017-05-01 23:42] #7 closed

[2017-05-20 06:54] schlessera opened #9 "`wp help scaffold package` test failure"
The test `Update a package with an update available` currently fails:

[code]

I think we should add all of the `help` commands as protected commands. I don't think they would ever need to actually do stuff.

[2017-05-20 06:56] schlessera opened #10 "`wp --require=bad-command.php package list` test failure"
The test `Run package commands early, before any bad code can break them` currently fails:

[code]

I think the `package` family of commands should be added to the list of protected commands.

[2017-05-24 12:44] danielbachhuber opened #12 ""Fatal error: Uncaught Error: Class 'Mustangostang\Spyc' not found in phar" test failure"
From #11

[code]

[2017-05-25 07:08] schlessera commented on #9
The issue above is unrelated to the `help` command. The problem is that the tag `v0.1.0` of the `wp-cli/scaffold-package-command` is being pulled in by the test, which does not yet contain the fix to resolve the dependencies `scaffold` <=> `scaffold package`.

I'll release a new tag for the `wp-cli/scaffold-package-command` to get around this.

[2017-05-25 09:44] schlessera commented on #12
Should be a Travis caching issue (probably due to Travis switching branches). These will hopefully disappear once we've rolled out the bootstrap refactor everywhere.

For now, clearing the Travis cache should solve this,.

[2017-05-25 09:46] schlessera commented on #12
Oh, no, looks like I've been to quick to dismiss this. One of the tests seems to pull in a combination of incompatible package versions...

[2017-05-25 10:03] schlessera commented on #12
The phar-building seems to ignore the version that is requested by the test.

As an example, in the test `Install a package requiring a WP-CLI version that doesn't match`, a phar is built using the version string `"0.23.0"`.

However, looking at the error output, it runs the new bootstrap refactor code, like `WP_CLI\Bootstrap\ConfigureRunner`, which was clearly not part of version 0.23.0.

[2017-05-25 10:13] schlessera commented on #12
The actual error, that the class `Mustangostang\Spyc` is missing, is probably due to the fact that the **new** WP-CLI framework is pulled into the phar through the **old** `make-phar.sh`, which does not take that package into account.

[2017-05-25 10:24] schlessera commented on #12
See https://github.com/wp-cli/wp-cli/issues/4095

[2017-05-25 11:48] #12 closed

[2017-05-25 12:23] #9 closed

[2017-05-30 19:00] #10 closed

[2017-05-31 06:54] schlessera opened #17 "Switch back to `wp-cli/wp-cli:*` when 1.2.0 is released."
As soon as WP-CLI v1.2.0 has been released, we should revert https://github.com/wp-cli/package-command/pull/16 .

[2017-06-02 16:29] johnbillion opened #18 "Documentation about where packages get installed to"
When you installed a package using, for example, `wp package install git@github.com:wp-cli/scaffold-package-command.git`, the command gets installed into `~/.wp-cli/packages/vendor/wp-cli/scaffold-package-command` but I had to do some hunting around to find out that this was the case.

This is particularly useful information for people who want to contribute to a community package.

[2017-06-06 16:41] #17 closed

[2017-06-13 12:15] emirpprime commented on #18
It would be great to include the related info here too: https://danielbachhuber.com/tip/shared-wp-cli-packages/
The info on working with multiple users and a shared package dir is really helpful.

[2017-07-04 18:41] joehoyle commented on #12
Hmm I think I'm stilling getting this with 1.2.1:

[code]

[2017-07-04 20:21] danielbachhuber commented on #12
@joehoyle It looks like Dictator is the origin of it. If you're not using it actively, you can uninstall. If you are using it actively, feel free to open an issue in that repo and I'll help track down the source.

[2017-07-22 08:52] schlessera opened #20 "Version requirements only work for the package index"
The current parsing code that tries to identify the package only allows for version constraints when using the package index. For git repositories, it just fails with an `Error: Invalid package.`.

Ideally, the parsing should accept any string that the underlying Composer would be able to handle, with a fallback to building a proper GitHub URL for shortened syntax to account for the package index

[2017-07-25 15:19] schlessera opened #21 "Short package identifiers should default to GitHub repos"
In the context of our move to retire the package index, the behavior of the package manager should change.

When a shortened package identifier like `<vendor>/<package>` is being passed to `wp package install`, the package manager should first check whether that identifier exists within the package index (for backwards compatibility reasons), and if not, fall back to assuming this points to a corr

[2017-08-02 13:34] #21 closed

[2017-08-05 23:12] danielbachhuber commented on #20
@schlessera Moving this out of the milestone, given there isn't a pull request for it yet. We can land whenever it's ready.

[2017-08-06 12:33] schlessera opened #25 "Uninstallation leaves VCS repository behind"
When you install a package from a VCS repository, WP-CLI first adds that repository to its `composer.json` file, and then `require`s the package.

On unistallation, the `require` statement is correctly removed, but the VCS repository setting that was added is left behind. This can then break subsequent package manager operations, depending on where that setting is pointing to and what has happened

[2017-08-06 15:26] schlessera commented on #20
@danielbachhuber The functionality was already in there since https://github.com/wp-cli/package-command/pull/22 was merged, due to the way I implemented that one. I hadn't closed the issue yet because I still had to create test cases to actually test all the scenarios.

All tests ran successfully, so this was working for some time now.

[2017-08-07 12:24] #20 closed

[2017-08-15 11:45] rosswintle opened #27 "Invalid require line can be left in composer.json if composer fails to run - this prevents further package installs"
## Setup

Mac running latest MacOS (Sierra 10.12.5)  Composer v1.5.1  WP-CLI v1.3

## Issue

If you run `wp package install <package>` and the package is not valid and composer fails for some reason (in my case it was out of memory) then .wp-cli/packages/composer.json is not reverted and the invalid package is left in the `require` section. This means that subsequent `wp package installs` will fai

[2017-08-15 15:40] schlessera commented on #27
Related: https://github.com/wp-cli/package-command/issues/25

[2017-08-23 06:03] schlessera opened #29 "Notice when browsing the package index"
As we have now deprecated the package index, and have not yet decided about what discovery mechanism we might implement, we should display a notice when running `wp package browse` about this.

I'm thinking about something like this:

[code]

[2017-08-29 20:38] hearvox opened #30 "Improve 'wp package' command description"
Improve command description in:
https://github.com/wp-cli/package-command/blob/master/src/Package_Command.php
Command: wp package
Current description: Manage WP-CLI packages.

Proposed description:
Runs WP-CLI package manager commands.

[2017-08-30 12:02] miya0001 commented on #30
Can you give us a pull-request?

[2017-08-30 12:17] miya0001 commented on #30
Related:
https://github.com/wp-cli/wp-cli/issues/4302

[2017-09-09 20:17] miya0001 opened #34 "Refresh README.md"
https://github.com/wp-cli/package-command/pull/32#issuecomment-328059247

[2017-09-09 20:58] miya0001 commented on #34
It is duplicated with:
https://github.com/wp-cli/wp-cli/issues/4344

[2017-09-09 20:58] #34 closed

[2017-09-27 13:49] danielbachhuber commented on #18
@johnbillion Where would you expect to find this documentation?

[2017-09-27 14:06] johnbillion commented on #18
I would say within the `wp package install` help docs.

[2017-09-29 00:13] danielbachhuber commented on #18
I think this is probably too much information to try to include in the command docs. We could link to it though.

[2017-09-29 13:46] danielbachhuber commented on #25
This was fixed in #37

[2017-09-29 13:46] #25 closed

[2017-09-29 14:26] #18 closed

[2017-09-29 15:05] #29 closed

[2017-10-15 11:08] javorszky opened #41 "Unnecessary variable declaration"
https://github.com/wp-cli/package-command/blob/master/src/Package_Command.php#L728

PR incoming

[2017-10-15 11:43] #41 closed

[2017-10-15 12:04] javorszky opened #43 "Packages installed from git where the git user has capital letters don't show up in `package list`"
I've created an example command here: https://github.com/CapitalWPCLI/examplecommand

## To reproduce:

1. `wp package install git@github.com:CapitalWPCLI/examplecommand.git`
2. `wp package list`, see that it is not in the list
3. go and look at the `composer.json` file in `~/wp-cli/packages` folder. See that the package's key is the github user : repository
4. because of the [code that lists the

[2017-10-15 12:26] javorszky commented on #43
From the looks of it, this piece of code should handle the mismatch:

https://github.com/wp-cli/package-command/blob/master/src/Package_Command.php#L221-L227

But for some reason doesn't.

[2017-10-15 15:27] gitlost commented on #43
Thanks for the excellent example and diagnostics @javorszky.

Composer is doing `strtolower()`s all over the place for some reason so the package name gets "corrected" to its lowercase version.

A way around might be to do `$installed_package_keys = array_map( 'strtolower', $installed_package_keys );` in `get_installed_packages()`, and also to lowercase the `$package_name` arg in `get_installed_pa

[2017-10-15 15:36] javorszky commented on #43
I think the install script is wrong. It compares the package name in the composer.json in the repo with the name of the repo, and if the two don't match, it uses the name in the composer.json.

Or at least should. If you look in the composer.json of the example command, that one is all lowercase because composer complains otherwise.

Yet what does get installed / recorded is the repo name, so the

[2017-10-15 18:57] gitlost commented on #43
Ah maybe it shouldn't then. If I change that check to `if ( strtolower( $package_name ) !== $package_name_on_repo ) {` then things kind of work okay, ie the `require` etc keys in `~/wp.cli/packages/composer.json` all have the non-lowercased name.

And with the `strtolower()` hacks mentioned earlier can uninstall okay as long as I specify the correct case.

The listing is wrongly in lowercase thoug

[2017-10-15 19:20] javorszky commented on #43
What I mean is that if the github is `CapitalWPCLI/examplecommand`, and the composer json has `capitalwpcli/examplecommand` as the name, it should save as `capitalwpcli/examplecommand`.

Currently it saves as `CapitalWPCLI/examplecommand`.

[2017-10-15 19:27] javorszky commented on #43
To be fair, I expect the `~/.wp-cli/package/composer.json` would have the name of the package as it's declared in the `composer.json` of the package.

[2017-10-15 19:34] gitlost commented on #43
Okay, ta. It's very confusing and messy. I'll leave it to the Composer experts, of which I'm most definitely not. Related https://github.com/wp-cli/wp-cli/issues/4232 and https://github.com/wp-cli/package-command/pull/31

[2017-10-16 09:10] miya0001 commented on #30
It fixed at https://github.com/wp-cli/package-command/pull/32.
Thanks @hearvox 😊

[2017-10-16 09:10] #30 closed

[2017-10-27 15:59] schlessera opened #44 "Phar v1.4.0 produces errors in Composer autoloader"
The Phar download of version 1.4.0 produces errors in the Composer autoloader. It tries to include the PHPCS Standards Installer package, which is not part of the Phar however (as it is a dev-dependency).

![image 2017-10-27 at 5 45 16 pm](https://user-images.githubusercontent.com/83631/32112881-d3a86068-bb3e-11e7-99c1-06969175bd86.png)

As that installer is a Composer plugin, it becomes active as

[2017-10-27 16:09] javorszky commented on #43
Okies. I summon @schlessera / @danielbachhuber to take a glance at this if they have a moment :)

[2017-10-27 16:44] danielbachhuber commented on #44
Ugh, annoying. I don't consider it severe, but it'd be nice to have fixed in the stable build sooner rather than later.

We should likely release a v1.4.1 in the next few weeks.

[2017-10-27 16:54] schlessera commented on #44
@danielbachhuber Can you reproduce this?  I wasn't sure whether it might not be an issue with my local setup...

[2017-10-27 16:56] danielbachhuber commented on #44
Yes, I've reproduced with the steps indicated in your screenshot.

[2017-10-30 17:37] gitlost commented on #44
I can't reproduce this locally. What's triggering the lookup of `Dealerdirect\Composer\Plugin\Installers\PHPCodeSniffer\Plugin`? (Maybe a global require in `~/.composer/composer.json`??)

Anyway I presume the autoload stripping https://github.com/wp-cli/wp-cli/blob/v1.4.0/utils/make-phar.php#L58 should be updated for the extra entries "dealerdirect/phpcodesniffer-composer-installer", "wimg/php-com

[2017-10-30 18:03] gitlost commented on #44
I should add though that the tests tagged `@github-api` in`features/package-install.feature`, which aren't executed by Travis, don't work for me locally either, even after fixing https://github.com/wp-cli/package-command/blob/v1.0.7/features/package-install.feature#L126 to be `STDERR` instead of `STDOUT` (as it's a WP_CLI warning, not a Composer warning).

The errors I get aren't always the same,

[2017-10-30 20:58] gitlost commented on #44
Re `@github-api` tests not working, I managed to get around it by adding my `GITHUB_TOKEN` (set via https://github.com/settings/tokens) to Composer's global config:
[code]
(which I don't think I should have to do but that's another story), which creates a file `~/.composer/auth.json` like this:
[code]
and then copying this into `/tmp/wp-cli-home/.composer`. So need some `GITHUB_TOKEN` handling in

[2017-11-01 22:37] gitlost commented on #43
Mystery solved - just noticed the **4292472** in your stat of wp - that's the size of wp-cli 1.3.0 - and https://github.com/wp-cli/package-command/pull/31 is only in 1.4.0, so that's why the mixed case git user name is ending up in your composer.json, as it's not getting corrected by mismatch check in the lines you highlighted.

I'll add a test anyway to clarify this situation (for myself mostly,

[2017-11-02 14:32] danielbachhuber opened #48 "Handle more git providers in set_composer_auth_env_var()"
As of #47, we support GitHub. There are a few other providers we could support too:

* bitbucket-oauth
* gitlab-oauth
* gitlab-token
* http-basic

[2017-11-03 13:18] javorszky commented on #43
Ooh, okay. That makes sense! Thank you. An uh... sorry for not checking the versions! Should I leave this open until the tests are added?

[2017-11-03 13:39] gitlost commented on #43
Hi, thanks for getting back. Please leave it open yes, as I've found out that there is an issue after all with mixed-case names with the current version, though not in your particular case (but when the name in `composer.json` is mixed-case anyway).

I'm going to do a PR very soon with a fix for that case, and also with tests for that case and your case. The tests will use your test example https:

[2017-11-03 13:41] javorszky commented on #43
Will do! I'll keep an eye out for the new versions of wp-cli! Thank you for looking into this!

[2017-11-03 13:46] gitlost commented on #43
Ta - just in case to clarify, the current version 1.4.0 should fix your issue so you don't have to wait to confirm it!

[2017-11-03 15:03] javorszky commented on #43
Hi,

So it didn't work... seemingly it did. Also, if I'm installing a specific package, it shouldn't update all the others, right?

<img width="840" alt="screen shot 2017-11-03 at 15 02 23" src="https://user-images.githubusercontent.com/1196299/32380524-2bdb5f92-c0a8-11e7-9b00-a06e8061d848.png">

This is using wpcli 1.4.0

[2017-11-03 15:10] javorszky commented on #43
Nope, ignore the above. Once I removed the package manually (delete files, delete composer.lock, edit composer.json), and tried again, it installed the package correctly.

However I can no longer test updating other packages when I'm installing one...

[2017-11-03 15:14] danielbachhuber commented on #43
Incorrect. This is expected behavior, as WP-CLI uses Composer under the hood.

[2017-11-03 15:15] gitlost commented on #43
Yes, that's the sort of thing I ended up doing too, which I thought was probably just my system having got messed up.

[2017-11-03 15:21] gitlost commented on #43
Maybe it shouldn't though?! It seems odd to me that installing a package causes a full install using `~/.wp-cli/packages/composer.json` rather than just the packages `composer.json` (but I'll have to think about it and come up with something less half-formed - and this probably isn't the best place to discuss it anyway).

[2017-11-07 19:42] schlessera commented on #43
Actually, you can do a selective update with Composer.

So, `composer update my/package` will only update that individual package, not the rest.

[2017-11-07 19:44] javorszky commented on #43
That's fine, but if I'm just installing a package, I don't expect all other packages to be touched unless I explicitly tell them to be touched.

Dunno, maybe it's just me and not knowing what to expect of composer.

[2017-11-07 19:46] schlessera commented on #43
No, you're right, I think. I would also expect that if I add a package, that that package will get installed in its latest matching version, but the rest just stays as is. I should need to run `wp package update` to get updates to the rest of the packages.

[2017-11-08 17:25] gitlost commented on #44
Re the stack discussion https://wordpress.slack.com/archives/C02RP4T41/p1510071316000491 I think a key point is that the `given a new Phar` step was only added to test `wp cli update` (https://github.com/wp-cli/wp-cli/pull/1535) and was never meant to be a "real" phar test. Which I think makes sense as the tests themselves shouldn't try to individually test (or construct) the real phar, but leave

[2017-11-11 08:24] #43 closed

[2017-11-11 08:26] schlessera opened #51 "Package name is retrieved from wrong branch"
The code to fetch the `composer.json` file for retrieving the package name is currently hardcoded against the `master` branch:

https://github.com/wp-cli/package-command/blob/8ac1e640c2df6a3120bef4417543abb73391ad85/src/Package_Command.php#L957

It should reuse the actual branch that was requested to be installed instead.

[2017-11-13 14:39] danielbachhuber commented on #44
This was fixed by https://github.com/wp-cli/wp-cli/pull/4477

[2017-11-13 14:39] #44 closed

[2017-12-19 09:44] playmono opened #59 "PHP Fatal Error on listing packages"
Hi,

Running this command:
`./wp-cli.phar package list`

Im having this PHP Fatal Error:
[code]

The thing is I dont have permission to execute this line `git clone --mirror 'git@github.com:wp-cli/admin-command.git' '/home/user/.cache/composer/vcs/git-github.com-wp-cli-admin-command.git/'`, so despite my error I think wp-cli should control the RuntimeException to not give a PHP Fatal Error.

[2017-12-19 10:45] playmono commented on #59
If I use for example:
`./bin/wp-cli.phar package install git@github.com:wp-cli/admin-command.git`

things works as expected, result is:
[code]

[2017-12-19 11:30] gitlost commented on #59
Could you try adding a personal access token https://github.com/settings/tokens (scope: repo: public_repo  Access public repositories) and then `export GITHUB_TOKEN=<token>` and see if that fixes it for you? (See also https://github.com/wp-cli/package-command/issues/44#issuecomment-340582417).

[2017-12-19 11:40] playmono commented on #59
Thank you, I was trying to fix the error, I didn't know how to solve it and your solution worked for me.

Anyway, I was saying despite my error, I think wp-cli should contemplate this case for not giving PHP Fatal Error, instead a catched Warning.

My last question is: Is necessary then, have a github account + token in order to make this library work?

Thank you.

[2017-12-19 11:52] gitlost commented on #59
Agreed!

I think if you use the ssh `git@github.com:` url then yes. If you use the [recommended](https://help.github.com/articles/which-remote-url-should-i-use/) https url `https://github.com/` then no I don't think so. Could you try
[code]
instead and see if that works for you?

[2017-12-19 13:34] playmono commented on #59
Library is giving me errors constantly about ssh git@github.com. But it's ok, I will try to make it work.

[2017-12-19 20:39] gitlost commented on #59
Okay ta, I did notice last time I looked that Composer uses `git@github.com:` internally anyway in some situations for some reason even if you give a https url, but the issue is complicated by what's already in your `~/.wp-cli/packages/composer.json` and whether you have a `~/.composer/auth.json` or not.

It would be good to come up with a definitive answer that can be used in error messages and i

[2017-12-20 08:55] playmono commented on #59
Thank you for your answer, thats **exactly** what is happening. Even if I  delete `~/.wp-cli/`, `~/.composer `and `~/.cache` the thing dont works. I thought maybe that folders contained some cache repo related to git@github.com but didnt works.

I'm annoyed because when I started with wp-cli, everything worked perfect, and now I don't know what changed (Tried to "restore to initial mode" deleting

[2017-12-21 10:43] playmono commented on #59
In my research I discovered that command: `wp package list` connects with `https://api.github.com/repos/wp-cli/admin-command` and this URL is giving me:
[code]
Then sometimes I can list my packages and sometimes not.

Is this the correct behaviour of the wp-cli?

Thank you.

[2017-12-21 11:14] gitlost commented on #59
Ah you're getting rate limiting, then this does require the `GITHUB_TOKEN` to be set to up your [quota](https://developer.github.com/v3/#rate-limiting). If you're testing stuff then you can run into this especially.

Well that particular issue is out of wp-cli's hands, and should be workaroundable using `GITHUB_TOKEN`, so "yes"!

It does make it awkward to test whether using the https url rather t

[2017-12-21 11:57] playmono commented on #59
Setting a token is very unpractical and inconvenient if I want to make an application using wp-cli that is replicated in a lot of servers analyzing wordpress installations. I mean, dont want create a github account just for this, and of course I dont want to use my personal github account for this.

In adittion, what's the point in connecting to github API when I just want to list my packages that

[2017-12-21 12:15] gitlost commented on #59
The reason it's doing it is to check for updates. It's also why it's so slow. Maybe a package list option to suppress this would be worth having?

[2017-12-21 13:05] playmono commented on #59
Well, that will be the perfect solution I think. Anyway I see that more as a feature than a bug fixed.

[2017-12-21 13:16] gitlost commented on #59
Yes, it would be a new feature, with a separate new issue.

[2018-01-03 13:04] gitlost opened #61 "Add option to package list to access locally only and not check for updates."
See https://github.com/wp-cli/package-command/issues/59#issuecomment-353336589

An option to not bother checking for updates to packages would be useful to avoid `GITHUB_TOKEN` and Composer auth issues like the above and is sometimes all one wants to know and would also be much much faster.

Might also consider combining with or having some local caching of update info.

[2018-01-03 13:10] gitlost opened #62 "Add option to be non-interactive."
See https://github.com/wp-cli/package-command/pull/60#pullrequestreview-85985229

Composer supports being run non-interactively so it could be useful to have an option to set this.

In particular it would avoid getting prompted for one's ssh password as can happen depending on one's authorization settings, which is problematic for scripts.

[2018-01-03 13:14] gitlost commented on #59
Going to close this via PR https://github.com/wp-cli/package-command/pull/60 and the new issues https://github.com/wp-cli/package-command/issues/61 and https://github.com/wp-cli/package-command/issues/62. Thanks for all your help @playmono !

[2018-01-03 13:14] #59 closed

[2018-01-07 11:22] schlessera commented on #62
Yes, agree, we can simply forward such an option. It's an easy addition.

[2018-01-13 11:22] #51 closed

[2018-01-16 12:31] gitlost opened #67 "Determine if git from prefix also and add `.git` suffix if not there."
Currently a package is determined to be a git only if the `.git` extension is present.

If given a standard github url like `https://github.com/wp-cli-test/repository-name` (or its ssh equivalent) without the `.git` suffix then it should also determine it to be a git package and append the `.git` suffix automatically.

[2018-02-08 11:17] kirtangajjar opened #69 "Allowed memory size exhausted while installing package"
Here is the output of `wp package install wp-cli/scaffold-package-command`:

[code]

[2018-02-08 11:18] kirtangajjar commented on #69
@schlessera is this the right place to report this issue?

[2018-02-08 11:43] schlessera commented on #69
@kirtangajjar This is a common issue. You'll find help for resolving it in the handbook: https://make.wordpress.org/cli/handbook/common-issues/#php-fatal-error-allowed-memory-size-of-999999-bytes-exhausted-tried-to-allocate-99-bytes

[2018-02-08 11:43] #69 closed

[2018-02-26 21:08] gitlost opened #72 "Don't use default Composer CA bundle if in phar as not included so won't work."
From original @swiffer https://github.com/wp-cli/wp-cli/issues/4703

As we don't include Composer's CA bundle in the phar the default "last resort" doesn't work [CaBundle.php#L121](https://github.com/composer/ca-bundle/blob/1.1.0/src/CaBundle.php#L121) so should avoid it. Noticeable particularly on Windows as default paths searched by Composer won't usually find anything.

PR incoming.

[2018-03-02 16:24] #72 closed

[2018-03-23 20:49] timkite opened #74 "Peer Certificate Mismatch on Package Install"
All package install attempts on RHEL6 (PHP 5.3.3) and RHEL7 (PHP 5.4.16) systems fail with:

[code]

The command succeeds on macOS 10.13.3 (PHP 7.1.7). A direct command line curl of `https://wp-cli.org/package-index/packages.json` from the RHEL servers is successful, so the CN verification seems to be something specific being done in PHP curl. Any thoughts at a workaround?

[2018-04-05 16:31] johnbillion opened #75 "Command to determine if a package is already installed"
When installing a package, I only want to run the installer if the package isn't already installed.

Example usage:

[code]

[2018-04-06 00:08] danielbachhuber commented on #75
👍 Seems reasonable.

[2018-04-06 12:51] schlessera commented on #75
You can already check whether one of the commands that the package provides is available:
[code]

[2018-04-06 13:24] johnbillion commented on #75
Thanks I think checking for a command with `cli has-command` is actually more appropriate than checking for a package name. Closing unless someone disagrees.

[2018-04-06 13:24] #75 closed

[2018-04-10 11:41] schlessera commented on #74
@timkite Often times, errors like these are due to outdated root certificates bundled with your curl package/extension. You'll need to update these.

Also, GitHub issues are meant for enhancement requests and specific, reproducible bugs, not for general support questions. For support options, please review http://wp-cli.org/#support

[2018-04-10 11:41] #74 closed

[2018-04-10 15:19] NicktheGeek opened #76 "Cannot install package from private repo"
In previous versions of WP-CLI it was possible to install packages from private repos so long as the command line user had access to that repo.

As of at least WP-CLI 1.5.0 this is no longer possible and attempting to install a package from a private repo resulted in an error:
[code]

This appears to be a result of the HTTPS for the raw.githubusercontent.com not being authenticated from the comman

[2018-04-13 11:43] emirpprime commented on #76
Put together an attempted fix in #78

[2018-04-19 06:51] #76 closed

[2018-04-24 13:26] phillipp opened #80 "Installation of any package fails with no error"
Hi,
I'm trying for a few hours now to install a package, but I fail miserably. I'm trying to set up a global package path (WP_CLI_PACKAGES_DIR=/usr/share/wp-cli/packages) where users have pre-installed packages. For that, I install as root.

[code]

Cool. Reverted composer.json. Okay, but why? No answer. Because the composer.json is reverted, I don't have it to test a installation with composer it

[2018-04-24 19:45] schlessera commented on #80
@phillipp Are you able to share your `/usr/share/wp-cli/packages/composer.json` file (minus any sensitive information) ?

[2018-05-04 20:09] phillipp commented on #80
@schlessera
Sorry to waste your time. Did found the problem: display_errors was off and memory_limit was not high enough - PHP exited without any message. Config change helped.

[2018-05-04 20:09] #80 closed

[2018-05-07 17:31] etiennejcharles opened #81 "Error not shown on "Reverted composer.json""
Thanks for the amazing plugin guys!

Is there any way that the error can be shown ?
I saw my `composer.json` "File was Reverted", but really had no idea why.

Had to go search in

https://github.com/wp-cli/package-command/pull/64
https://github.com/wp-cli/package-command/issues/27
https://github.com/wp-cli/wp-cli/issues/4289

In order to understand that my package failed to install because of a "m

[2018-05-08 05:11] schlessera commented on #81
I agree, we should try to show the reason why the installation failed, especially as this particular one is amongst the most significant support requests we get.

[2018-05-20 02:47] jdarrohn commented on #69
Just to make a note in case someone finds this in search, I was wrestling with this for about an hour. I installed PHP view Homebrew so I can use Valet, and could not figure out for the life of me why `php -r "echo ini_get('memory_limit').PHP_EOL;"` kept returning `128M` even after linking, unlinking, starting, restarting, etc.

@schlessera had provided a link which at least got me through the pac

[2018-05-21 11:03] kirtangajjar commented on #69
Try running `php --ini`

[2018-05-28 11:03] schlessera opened #82 "SSL certificate cannot be retrieved from Phar"
The SSL certificate override we use to avoid the Composer certificates does not work from within the Phar. We need to extract the certificate first and point to the generated temporary file instead.

This is the root cause for https://github.com/wp-cli/wp-cli/issues/4791

[2018-05-28 11:40] #82 closed

[2018-06-07 06:59] ocean90 opened #84 "Document support for GITHUB_TOKEN"
#47 added support for the `GITHUB_TOKEN` and `COMPOSER_AUTH ` env. But it's not documented.

I think we should mention the support on the `wp package install` command so it's visible on https://developer.wordpress.org/cli/commands/package/install/.

[2018-07-30 16:48] wpaustria commented on #81
yeah, that would be great!

[2018-07-31 12:45] swissspidy opened #85 "Add command to get information about single package"
As suggested in https://github.com/wp-cli/i18n-command/issues/53#issuecomment-409063899, there could be a new `wp package version` command to get the version of a single command.

Perhaps this could also just be `wp package get <package> [--fields=<fields>]` so one can easily get any specific field for a package.

Ideally we abstract the code in such a way that a single package is able to get its

[2018-08-04 09:46] schlessera opened #86 "Move command over to new v2 structure"
The following changes need to be made to move the command over to the v2 structure:

- [ ] Make sure the correct framework is required:
[code]
- [ ] Require the testing framework as a dev dependency:
[code]
- [ ] Use the `.travis.yml` file from `wp-cli/wp-cli`:
[code]
- [ ] Add the default script configuration to Composer file:
[code]
- [ ] Remove scaffolded binary files:
[code]
- [ ] Remove scaff

[2018-08-05 11:01] #86 closed

[2018-08-06 07:50] schlessera opened #90 "Prefer packagist.org over Github"
The package manager seems to immediately download via GitHub when you use a shorthand package identifier.

It should check `https://packagist.org/` first and default to that if it finds the corresponding package, as packagist is much faster for installations and updates.

[2018-08-07 06:07] #90 closed

[2018-08-07 07:06] schlessera commented on #85
That is non-trivial. Inside of the code, the versions don't exist. We can only fetch and store them during the Composer build phase, which means adding something like https://github.com/Ocramius/PackageVersions

[2018-08-07 09:46] #81 closed

[2018-08-09 10:47] schlessera opened #96 "Automatically rerun failed scenarios"
The following changes need to be made:

1. In the `.travis.yml` file, the `- composer behat` line in the `script:` section needs to be changed into the following:
[code]

2. In the `composer-json` file, the requirement on `wp-cli/wp-cli-tests` needs to be adapted to require at least `v2.0.7`:
[code]

3. In the `composer-json` file, the `"scripts"` section needs to be extended. Immediately after th

[2018-08-14 16:59] #96 closed

[2018-09-14 12:13] mickaelperrin opened #99 "Broke composer commands when used with phpcodesniffer-composer-installer"
Hi,

I am not sure which one is causing the issue, but I just noticed that using at the same time this package with `dealerdirect/phpcodesniffer-composer-installer` broke composer post install commands.

## Steps to reproduce
1. Create a minimal composer.json file:
[code]

2. Run `composer install`

## Result

[code]

It has been crossposted to https://github.com/Dealerdirect/phpcodesniffer-compos

[2018-10-26 10:21] frenck commented on #99
This issue has been identified as an upstream issue in the `dealerdirect/phpcodesniffer-composer-installer` package.

[2018-12-03 08:29] Yoshiro-Sasagawa opened #102 "installing package on Intranet"
Hi, very much appreciate for this.

I can't figure out how to install my package.
It says "https://wp-cli.org/package-index/packages.json file could not be downloaded"
when "wp package install <path>" cause its on a intranet.

Is there any way to install my package manualy? or avoid to connect out side of network.

I tried to install from zip but doesn't work.
path to "composer" is globaly added a

[2018-12-03 12:35] swissspidy commented on #102
What issues did you get when trying to install from ZIP?

Could you configure your local setup to use a proxy or anything? See: https://github.com/wp-cli/wp-cli/issues/3019.

With that being said:

GitHub issues are meant for tracking enhancements to and bugs of existing commands, not general support.

I suggest you to join the #cli channel in the [WordPress.org Slack](https://make.wordpress.org/c

[2018-12-03 14:31] schlessera commented on #102
Yes, please join us on Slack, and we'll help you go through your options.

[2018-12-03 14:31] #102 closed

[2018-12-04 04:29] Yoshiro-Sasagawa commented on #102
Thanks.

I'll take a look into proxy option and Slack.
Just for a reference, I've put my package into user directory like C:¥Users¥me¥.wp-cli then "wp package list" shows it and custom command works well though I'm sure it's not a good way.
(changing directories were needed)

[2019-02-14 17:29] Hlsgs opened #104 "Unable to install packages on Windows and PHP7.3.1"
Here is my WP CLI info:
[code]

And here is the response when trying to install a package:
[code]
Everything else works, WP CLI is in `D:\dev\wp-cli\` and PHP in `D:\dev\xampp\php\` and both are set in PATH.

This is the content of `D:\dev\wp-cli\wp.bat`:
[code]

Thank you!

[2019-03-09 15:05] Hlsgs commented on #104
The `SSL_CERT_FILE` is not set. However, if I do set it to `phar://wp-cli.phar/vendor/rmccue/requests/library/Requests/Transport/cacert.pem` as per https://github.com/wp-cli/wp-cli/issues/4703#issuecomment-371062003, everything works fine. This is regardless of whether I run everything as admin or not.

[2019-03-09 16:13] schlessera commented on #104
Okay, so the fix we did has a few conditionals, and maybe one if them is failing:

https://github.com/wp-cli/package-command/pull/73/files#diff-ca5ded108d7e84b923c359071e50f993R1070

Can you check whether one of these environment variables might be set for you?

[2019-03-09 16:17] schlessera commented on #104
Okay, to be more precise, check whether any of the following exist:

- environment variable `SSL_CERT_FILE` (you already checked that one)
- environment variable `SSL_CERT_DIR`
- PHP ini value `openssl.cafile`
- PHP ini value `openssl.capath`

Also, maybe the check to see whether you're in a Phar is failing for you. Please verify the result of the following command:
[code]

[2019-03-09 16:23] Hlsgs commented on #104
Only `openssl.cafile` is set: `openssl.cafile = "\dev\xampp\apache\bin\curl-ca-bundle.crt"` and the result of that command is `bool(true)`. This is a `XAMPP` portable stack, so this will be pretty common.

[2019-03-09 17:02] schlessera commented on #104
Okay, so I assume that:
- `openssl.cafile` being set disable the fix in #73
- This means we would land here in Composer: https://github.com/composer/ca-bundle/blob/1.1.0/src/CaBundle.php#L84
- I assume this fails somehow (maybe file cannot be validated?), so we fall through until Composer tries to load the bundled file: https://github.com/composer/ca-bundle/blob/1.1.0/src/CaBundle.php#L121

1. Can

[2019-03-09 17:10] Hlsgs commented on #104
1. Unsetting `openssl.cafile = "\dev\xampp\apache\bin\curl-ca-bundle.crt"` solves the issue. Also, setting the full path including the drive letter like so `openssl.cafile = "d:\dev\xampp\apache\bin\curl-ca-bundle.crt"` also solves the issue. The former is the way `XAMPP` portable configures itself, and it makes sense so that the stack is fully portable, as in working from a USB stick.
2. I don't

[2019-03-14 10:32] schlessera commented on #104
Okay, so this is in fact an upstream issue with Composer on Windows then.

Composer fails to properly validate the provided CA file here: https://github.com/composer/ca-bundle/blob/1.1.0/src/CaBundle.php#L85

This means that there's not much to change at the WP-CLI side of things, but it might make sense to introduce a bug report to the Composer repository instead.

[2019-03-14 13:52] Hlsgs commented on #104
@schlessera Doing that is unfortunately beyond my knowledge level, so, if you could be bothered to do it instead, it would be great. Regardless, thank you for your time!

[2019-03-16 22:46] schlessera commented on #104
I've created an upstream ticket. I'm not sure this is something that can be solved by Composer, so you shouldn't hold your breath and just remove/adapt the `openssl.cafile` setting for now.

I'm closing the ticket as there's currently no next action for WP-CLI, but we can reopen if needed.

[2019-03-16 22:46] #104 closed

[2019-03-17 11:02] Hlsgs commented on #104
I will set the `SSL_CERT_FILE` env variable to `phar://wp-cli.phar/vendor/rmccue/requests/library/Requests/Transport/cacert.pem` as a mitigation for now. Thank you!

[2019-04-17 16:07] schlessera opened #106 "Adopt and enforce new `WP_CLI_CS` standard"
We have a new PHPCS standard for WP-CLI called `WPCliCS` (props @jrfnl). It is part of the `wp-cli/wp-cli-tests` package starting with version v2.1.0.

To adopt & enforce this new standard, the following actions need to be taken for this repository:

- [ ] Create a PR that adds a custom ruleset `phpcs.xml.dist` to the repository

    - Add `phpcs.xml.dist` file
    - Adapt `.distignore` to ignore

[2019-04-23 06:32] thrijith commented on #106
@schlessera Since this [file](https://github.com/wp-cli/package-command/blob/master/src/WP_CLI/JsonManipulator.php) copied over from `composer` and follows PSR2 CS, should this file be fixed as well?

[2019-04-23 06:37] schlessera commented on #106
@thrijith No, I think it's preferable to whitelist it. Otherwise, it will be unnecessarily difficult to merge in upstream changes.

[2019-04-24 09:34] #106 closed

[2019-04-24 09:38] schlessera commented on #99
Fixed upstream.

[2019-04-24 09:38] #99 closed

[2019-04-26 13:08] maheshwaghmare commented on #104
I was face same issue on my windows setup.

My old version of WP CLI was `2.1.0`.

[code]

I have update my WP CLI version:

[code]

But, After update still getting the same error.

[code]

I have execute the `wp eval "var_dump( WP_CLI\Utils\inside_phar() );"` as per about discussion:

[code]

I thought its composer issue so I was update an composer:

[code]

After composer update still getting th

[2019-07-12 14:46] drzraf opened #109 "Allow install from a Git repository specific branch"
## Feature Request

- [x] Yes, I reviewed the [contribution guidelines](https://make.wordpress.org/cli/handbook/contributing/).

**Describe your use case and the problem you are facing**

I would like to install a command from a remote repository **non-master branch**.
Eg: I forked a built-in `wp-cli` command and my changes are not merged (yet) but available in my own repository (but on a custom b

[2019-07-12 17:54] drzraf opened #110 "check_git_package_name hardcode reference to GitHub"
## Bug Report

- [x] Yes, I reviewed the [contribution guidelines](https://make.wordpress.org/cli/handbook/contributing/).
- [x] Yes, more specifically, I reviewed the guidelines on [how to write clear bug reports](https://make.wordpress.org/cli/handbook/bug-reports/).

**Describe the current, buggy behavior**

`wp package install https://gitlab.com/my/package.git`

=>
[code]

Repository is at **g

[2019-07-13 04:01] schlessera commented on #110
What is the best way to fetch a singular file from Gitlab in this case? Is there a URL like the `raw.githubusercontent.com` one, where we can easily fetch a singular file without hitting the API or git directly?

[2019-07-14 02:01] drzraf commented on #110
Sure, `https://gitlab.com/<repository-group/[subgroup/]name>/raw/master/composer.json`

[2019-07-16 17:00] schlessera commented on #109
This works already, but you need to use the branch syntax that Composer uses (the package manager is basically just an embedded version of Composer).

For example, I could successfully pull in one of your branches with the following command:
[code]

[2019-07-16 17:00] #109 closed

[2020-01-28 09:45] roborourke opened #114 "Commands Cookbook link goes to a 404"
The link to the Command Cookbook on the page at https://developer.wordpress.org/cli/commands/package/ goes to http://wp-cli.org/docs/commands-cookbook/ which gives a 404.

The updated URL should be https://make.wordpress.org/cli/handbook/commands-cookbook/

[2020-01-28 11:32] #114 closed

[2020-01-28 11:48] roborourke commented on #114
Thanks @wojsmol 😄

[2020-03-15 06:28] imnamanmodi1 commented on #69
The solution worked for me mate, was stuck with it for months.

[2020-04-08 15:34] schlessera opened #118 "Lock framework to stable version again before release"
The framework dependency was changed to request `dev-master` to receive a fix that produced test failures in this repository (see https://github.com/wp-cli/package-command/pull/116).

This needs to be reverted to a stable version before the next release.

[2020-06-04 15:37] #110 closed

[2020-11-03 16:09] gbiorczyk opened #125 "Compatibility with Composer 2"
Hi,

Hello everyone. Thanks for your work, I appreciate it very much.

I would like to adapt my composer.json to Composer 2. For testing purposes I have created a very simple composer.json file:
[code]

And then I execute the following command:
[code]

And I have such errors:
[code]

Do you plan on compatibility with Composer 2? If so, when can this be expected? I will be very grateful for your an

[2020-11-03 16:26] gilzow commented on #125
@gbiorczyk  for what it's worth, there are additional packages required by wp-cli that are not composer2 compatible. The team behind wp-cli will need to ensure that all of the packages required by wp-cli-bundle https://github.com/wp-cli/wp-cli-bundle/blob/master/composer.json are updated to be compatible with Composer2

[2020-11-04 16:20] gbiorczyk commented on #125
Do you know anything more? Do you know any possible dates? Anyone working on this?

@gilzow, I will be very grateful for any additional information.

[2020-11-04 16:24] schlessera commented on #125
I'm currently working on this and hope to have it work with Composer v2 at the end of the week. No promises, though, as I haven't gone through all the bugs that need to be solved.

[2020-11-04 16:39] gilzow commented on #125
@gbiorczyk I forked both wp-cli-bundle and package-command packages and updated both to work with Composer2, and then pointed my projects to my forked version. Upon build, it failed on the next required package from wp-cli-bundle. At that point, I decided I didnt want to fork all the other packages.

[2020-11-10 09:53] schlessera commented on #125
Fixed via #127.

@gbiorczyk, @gilzow  Can you confirm it now works as expected for your use case?

[2020-11-10 09:53] #125 closed

[2020-11-10 12:15] gbiorczyk commented on #125
@schlessera Thank you very much! I see you need to use minimum-stability at `dev` level.

Do you have any plans for this to work on `stable` level?

[2020-11-10 16:20] schlessera commented on #125
@gbiorczyk: Right now, it pulls in `wp-cli/wp-cli` at `dev-master`, because it requires a change that that repo has no release for yet. This will be solved before WP-CLI v2.5.0 is finalized, which should be next week.

See https://github.com/wp-cli/package-command/issues/118

[2020-12-08 18:42] #118 closed

[2021-03-10 08:26] schlessera commented on #85
Once we force Composer v2+ as a dependency here, we can move forward with this, as the above mentioned `PackageVersions` package is now a direct part of Composer from v2 onwards.

[2021-03-10 15:53] schlessera commented on #85
@gilzow Right now we allow for both v1 and v2 of Composer to be used, and the built Phar already defaults to v2.
It might be feasible to phase out v1 with WP-CLI v3, but we'll have to see at that point what the installation numbers are.

[2021-06-30 17:03] greatislander opened #141 "Legacy package index prevents installation of current release of a package"
## Bug Report

- [x] Yes, I reviewed the [contribution guidelines](https://make.wordpress.org/cli/handbook/contributing/).
- [x] Yes, more specifically, I reviewed the guidelines on [how to write clear bug reports](https://make.wordpress.org/cli/handbook/bug-reports/).

**Describe the current, buggy behavior**

I'm trying to install a package, [pressbooks/pb-cli](https://github.com/pressbooks/pb-c

[2021-07-14 07:38] selul commented on #141
Might be solved if we set the WP-CLI Package Index as non-canonical, i.e `canonical: false`, more details about this [here](https://getcomposer.org/doc/articles/repository-priorities.md#making-repositories-non-canonical )

I can help to send a PR if this is a good idea.

[2021-08-16 09:38] mremi opened #142 "Allow composer ^2.0"
Hi,

Would it be possible to support composer ^2.0 instead of ^2.0.0? Thus allowing versions >=2.0 and <3.0.

Thanks

[2021-09-12 09:30] aaemnnosttv commented on #141
@selul I've been looking into this too and it looks like using `canonical: false` _should_ fix the problem, but it doesn't.

After editing `~/.wp-cli/packages/composer.json` to mark the wp-cli composer repository as `canonical: false`, if I run `wp package list`, the resulting output **correctly reports that an update is now available** where it wasn't before.

However, running `wp package update`

[2021-12-02 23:38] schlessera commented on #142
You seem to be confusing the caret operator `^` with the tilde operator `~`. The version constraint already does what you want.

[2021-12-02 23:38] #142 closed

[2021-12-28 14:38] hirasso opened #145 "SSL certificate problem: certificate has expired"
## Bug Report

- [x] Yes, I reviewed the [contribution guidelines](https://make.wordpress.org/cli/handbook/contributing/).
- [x] Yes, more specifically, I reviewed the guidelines on [how to write clear bug reports](https://make.wordpress.org/cli/handbook/bug-reports/).

**Describe the current, buggy behavior**

`wp package install` fails due to expired certificate

**Describe how other contributor

[2022-01-10 21:20] schlessera commented on #145
@hirasso Can you try this same command with the latest nightly version of WP-CLI? You can update to the latest nightly version via the following command:
[code]

[2022-01-11 11:49] hirasso commented on #145
@schlessera I updated to `2.5.1-alpha-e09df43` and ran `wp package install wp-cli/find-command` again. The error persists.

[2022-05-20 21:28] gilzow opened #152 "Declaration of WP_CLI\ComposerIO::isVerbose() and others not compatible with Composer\IO\NullIO::isVerbose(): bool"

[2022-08-18 15:53] danielbachhuber commented on #145
Hey @hirasso,

If it's helpful, here's a report of a similar problem: https://github.com/wp-cli/profile-command/issues/172

Essentially, you likely have an out of date SSL certificate on your machine that you'll need to update.

[2022-08-18 15:53] #145 closed

[2022-08-18 17:56] hirasso commented on #145
Hi @danielbachhuber , thanks for your reply! Do you by any chance know how I can discover which SSL certificate is being used for CURL? I'm on a MAC and can't find anything via Google... probably I don't know the right wording for the search phrase ;)

[2022-08-18 18:32] hirasso commented on #145
I looked up the location of openssl on my system [as described here](https://stackoverflow.com/a/47864592/586823). Then I updated my `cert.pem` file [as described here](https://stackoverflow.com/a/69998301/586823). After that, the error still persists, even after a restart. That's why I'm asking myself if wp-cli's curl actually uses this certificate at all...

[2022-08-18 18:41] hirasso commented on #145
Ok, found it. After one year. My terminal php was linked to MAMP:

[code]
Then I googled for "mamp curl error 60 ssl certificate problem certificate has expired" and [found this post](https://stackoverflow.com/a/69630750/586823) on SO, that finally helped me solve it.

In a nutshell: I had to tell my PHP version which `cacert.pem` it should be using.

[2022-08-18 19:02] danielbachhuber commented on #145
@hirasso Glad you were able to figure it out! 🐛 🔨

[2022-08-18 19:34] hirasso commented on #145
It really makes a big difference to get a helping hand like yours today, @danielbachhuber . Just having this feeling that someone actually cared out there helped me finally take the time to solve this. Thanks again!

[2022-08-18 20:57] danielbachhuber commented on #145
❤️

You're welcome!